.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main > a {
  margin-top: 2rem;
  font-size: 2em;
  text-decoration: none;
  color: black;
  background: #6969dd;
  border-radius: 10px;
  padding: .5em 1em;
  transition: background .2s;
  color: white;
}

.main > a:hover {
  background: #9090d6;
}