*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #6969dd transparent;
}