.user-card {
  background: #ddd;
  height: 300px;
  width: 250px;
  padding: 1rem;
  padding-top: 3rem;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.user-card > * + * {
  margin-top: 1rem;
}

.user-picture {
  transform: scale(4);
  margin: 2.5rem 0;
  fill: #6969dd;
}

.name {
  white-space: nowrap;
}