.users-container {
  max-width: calc(1500px + 7rem);
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 1rem 0;
  padding: 0 1rem;
  display: flex;
}

.header > * + * {
  margin-left: 1rem;
}

.user-search {
  width: 700px;
  height: 40px;
  font-size: 1.5rem;
}

.view-label {
  margin-left: auto;
}

.selector-label {
  font-size: 1.5rem;
}

.selector {
  font-size: 1.5rem;
  height: 40px;
  width: 200px;
  margin-left: 1rem;
}

.order-button {
  width: 40px;
  height: 40px;
}

.arrow {
  font-size: 1.5rem;
}

.arrow.down {
  transform: rotate(90deg);
}

.data-container {
  padding: 0 1rem;
}

.loading-container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 50px;
  height: 50px;
  animation: loading-animation .5s infinite;
  fill: #444;
}

@keyframes loading-animation {
  0% {
    transform: rotate(0deg);
  }

  12.5% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(90deg);
  }

  37.5% {
    transform: rotate(135deg);
  }

  50% {
    transform: rotate(180deg);
  }

  62.5% {
    transform: rotate(225deg);
  }

  75% {
    transform: rotate(270deg);
  }

  87.5% {
    transform: rotate(315deg);
  }

  100% {
    transform: rotate(360deg);
  }
}